html {
background-color: rgba(129, 89, 89, 0.385);
}
body {
background-color: rgba(129, 89, 89, 0.385);
}
h1 {
font-family: 'calistoga', cursive;
font-size: 50px;
margin-top: 0px;
padding-bottom: 5px;   

text-align: center;
background-color: rgba(78, 45, 45, 0.896);
border: 2px solid black;
color:rgba(243, 239, 239, 0.911)
}
h2 {
    text-wrap: balance;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}
footer {
background-color: rgb(175, 115, 115);
text-align: center;
border: 2px solid black;
}
.intro.firstparagraph p {
font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}
.visitus.secondparagraph p {
    font-family:Georgia, 'Times New Roman', Times, serif
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 0 50px;
}
.bg-body-tertiary {
  background-color: rgb(166, 96, 96) !important;
}