* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(129, 89, 89, 0.385);
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}
h1,
h2 {
  font-family: 'Calistoga', cursive;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 50px;
  padding-bottom: 5px;
}
h2 {
  font-size: 40px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-wrap: balance;
}
.intro.firstparagraph p,
.visitus.secondparagraph p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}
.intro.firstparagraph p {
  font-size: 17px;
}
.visitus.secondparagraph p {
  font-size: 20px;
  padding: 0 50px;
}
main {
  min-height: 80vh;
  margin: 0;
  padding: 0;
  width: 100%;
}
.bg-body-tertiary {
  background-color: rgb(166, 96, 96) !important;
}
input,
textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}
.form-container-fluid {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(129, 89, 89, 0.385);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: rgb(175, 115, 115);
  text-align: center;
  border: 2px solid black;
  padding: 10px 0;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #000;
}
.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
  transition: transform 0.3s ease;
}
.gallery-grid img:hover {
  transform: scale(1.03);
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}


